 /*------------------------------------*\
                #Navbar
\*------------------------------------*/
 /*------------------------------------*\
                #e1
\*------------------------------------*/
 
 .e1 {
     height: 400px;
     border: 2px solid black;
     border-radius: 50px;
 }